---
---

<footer class="w-full grid lg:pb-16 pb-40 mt-16 place-items-center min-h-[30rem] bg-firefly">
  <div class="w-full max-w-screen-lg">
    <div class="grid grid-cols-2">
      <!-- Left -->
      <div class="lg:col-span-1 col-span-2 px-4 text-white">
        <h2 class="text-center mt-8 text-[1.6rem] font-normal">医療法人社団 立志会</h2>
        <h1 class="text-center mt-2 text-[3rem] font-normal">いちはら耳鼻咽喉科</h1>
        <h2 class="text-center mt-2 text-[1.6rem] font-normal">ichihara ENT clinic.</h2>
        <p class="mt-16 text-white font-normal">〒290-0170</p>
        <p class="mt-2 text-white font-normal">千葉県市原市うるいど南3-1-1</p>
        <p class="mt-8 text-white font-normal">
          <a href="tel:0436768088">お問い合わせ：0436-76-8088</a>
        </p>
        <p class="mt-2 text-white font-normal">
          <a href="tel:0120353387">予約専用電話：0120-35-3387</a>
        </p>
      </div>
      <!-- Right -->
      <div class="lg:col-span-1 col-span-2 w-full h-0 overflow-hidden pb-[27rem] relative mt-[15px] max-md:pb-[100vw]">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51947.41976526309!2d140.1281314743301!3d35.53607122887683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe8a8461e227c664f!2z44GE44Gh44Gv44KJ6ICz6by75ZK95ZaJ56eR!5e0!3m2!1sja!2sjp!4v1605714477400!5m2!1sja!2sjp"
          style="border: 0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          title="いちはら耳鼻咽喉科の場所"
          class="absolute left-0 top-0 h-full w-full rounded-lg border-0 max-md:w-screen"
        ></iframe>
      </div>
    </div>
  </div>
</footer>

