---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/sections/HeroSection.astro";
import IntroductionSection from "../components/sections/IntroductionSection.astro";
import ScheduleSection from "../components/sections/ScheduleSection.astro";
import NewsSection from "../components/sections/NewsSection.astro";
import CalendarSection from "../components/sections/CalendarSection.astro";
---

<Layout title="いちはら耳鼻咽喉科">
  <div class="grid place-items-center">
    <HeroSection />
    <IntroductionSection />
    <ScheduleSection />
    <NewsSection />
    <CalendarSection />
  </div>
</Layout>
